langchain
langgraph
langchain-anthropic
langchain-mcp-adapters
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-tavily
pymupdf
sentence-transformers
fastapi
uvicorn